
--FIRST WAY OF USING CASE
DECLARE @myOption AS VARCHAR(10) = 'OPTION A'
SELECT CASE WHEN @myOption = 'OPTION A' THEN 'FIRST OPTION'
            WHEN @myOption = 'OPTION B' THEN 'SECOND OPTION' 
			ELSE 'NO OPTION' END AS MyOption -- ELSE STATMENT IS OPTIONAL, IF NOT SET IT OUTPUTS -> NULL

--ALTERNATIVE WAY
DECLARE @myOption2 AS VARCHAR(10) = 'OPTION A'
SELECT CASE @myOption2 WHEN 'OPTION A' THEN 'FIRST OPTION'
					   WHEN 'OPTION B' THEN 'SECOND OPTION' 
					   ELSE 'NO OPTION' END AS MyOption

-- USING JUST A SINGE CASE
SELECT *,
CASE LEFT(EmployeeGovermentId,1) WHEN 'A' THEN 'LETTER A' 
								 WHEN 'B' THEN 'LETTER B'
								 ELSE 'NEITHER LETTER' END + '.' AS MyColumn
FROM Employee

-- USING MULTIPLE CASE
SELECT *,
CASE WHEN LEFT(EmployeeGovermentId,1) = 'A' THEN 'LETTER A'
	 WHEN EmployeeNumber < 200 THEN 'LESS THAN 200'
	 ELSE 'NEITHER LETTER' END + '.' AS MyColumn
FROM Employee

-- TRY TO HAVE MUTLIPLE DATA TYPES AS RETURN PARAMETER
-- LOOKS AT THE ALL POSSIBLE OUTCOMES OF RETURNED VALUE, CASTS THE DATATYPE TO HIGHEST IN THE ORDER OF PRECEDENCE, IN THIS CASE -> INT
-- CONVERSION FAILED WHEN CONVERTING THE VARCHAR VALUE 'SECOND OPTION' TO DATA TYPE INT.
-- IF YOU HAVE MULTIPLE DATA TYPES, CONVER THEM!  --CONVERT(varchar(10),2)
DECLARE @myOption3 AS VARCHAR(10) = 'OPTION B'
SELECT CASE WHEN @myOption3 = 'OPTION A' THEN 2 -- FIRST ORDER OF PRECEDANCE
            WHEN @myOption3 = 'OPTION B' THEN 'SECOND OPTION' -- SECOND
			ELSE 'NO OPTION' END AS MyOption


